body {
  font-family: 'Montserrat', sans-serif;
  color: #191414;
  background-color:rgb(255,255,255);
  margin-top: 2em;
}
h1 {
	font-size: 5vw;
	font-weight: 900;
	margin: 0.5em;
}
.container {
    box-shadow:0 14px 28px rgba(0,0,0,0.08), 0 10px 10px rgba(0,0,0,0.05);
	padding-bottom:5em;
}
#searchForm .btn-success {
    background-color: #1db954;
    border-color: #1db954;
    height: 4vw;
}
#searchForm .search-bar {
	height: 4vw;
}