body {
  font-family: 'Montserrat', sans-serif;
  color: #191414;
  background-color:rgb(254,254,254);
}
a {
  color: inherit;
  text-decoration: none;
}
a:link {  /* unvisited link */
    color: inherit;
    text-decoration: none;
}
a:visited {  /* visited link */
    color: inherit;
    text-decoration: none;
}
a:hover {  /* mouse over link */
    color: inherit;
    text-decoration: none;
}
a:active {  /* selected link */
    color: inherit;
    text-decoration: none;
}
h3 {
    display: block;
}
#inputLabel {
	margin-top: 2em;
}
.container {
	background-color:rgb(254,254,254);
	border-style: solid;
	border-width: 1px;
	border-color: rgb(240,240,240);
    border-top-color: #1db954;
    border-top-width: 3px;
	border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.04), 0 2px 6px rgba(0,0,0,0.05);
	margin-bottom: 1em;
}
#nav {
    border-style: none;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgb(200,200,200);
    border-radius: 0px;
}
.navbar {
	margin-top: 0.75em;
    margin-bottom: 0em;
}
.navbar-brand {
    margin-bottom: 0.75em;
    padding: 0.75em;
    font-size: 1.75em;
	font-weight: 500;
}
.search-area {
    width: 90%;
    margin-left: 5%;
}
#searchForm .btn-success {
    background-color: #1db954;
    border-color: #1db954;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
#searchForm .search-bar {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.seed-area {
    margin-top: 2em;
}
#seed-right {
    border-left-style: solid;
    border-width: 1px;
    border-color: rgb(240,240,240);
    border-radius: 0px;
}
#seedObject {
    height: 25em;
    width: 22em;
}

#recommendationsHeader {
    margin-top: 1em;
}
.recommendation-row {
    height: 25em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    margin-bottom: 1em;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(240,240,240);
    border-radius: 3px;
}
.recommendation {
    height: inherit;
    padding: 0px;
}
.recommendation-object {
    height: inherit;
    padding: 3%;
    width: 100%;
}
.footer {
    height: 5em;
}





/* Slider stuff down here */
#slideForm {
    width: 95%; /* Width of the outside container */
}
.slide-container {
    width: 100%;
}
.slider-label {
    margin-bottom: 10px;
    font-weight: 500;
}
input[type=range] {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-moz-focus-outer {
    border: 0;
}
.slider {
    -webkit-appearance: none;
    height: 10px;
    margin-bottom: 33px;
    border-radius: 10px;   
    background: rgb(240,240,240);
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #1db954;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #1db954;
    cursor: pointer;
}
